---
import MainLayout from "../../layouts/MainLayout.astro";
import Blogs from "../../components/Blogs.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true })
  );

  return paginate(allPosts, {
    pageSize: 2,
  });
}

const { page } = Astro.props;
---
<MainLayout>
  <section class="py-24 px-4 sm:px-6 lg:px-8 text-center">
    <h1 class="text-4xl md:text-5xl font-bold text-slate-900 mb-4">Blogs</h1>
  </section>
  <Blogs page={page} />
</MainLayout>
