---
const { page } = Astro.props;
---

<div class="flex items-center justify-center space-x-2">
  {
    page.url.prev && (
      <div class="mb-6 transition-transform duration-500 hover:scale-110">
        <a
          href={page.url.prev}
          class="px-6 py-3 font-medium rounded-lg shadow-md cursor-pointer text-white bg-slate-800"
        >
          Previous
        </a>
      </div>
    )
  }
  <span class="mb-6 text-gray-800 font-semibold">Page {page.currentPage} of {page.lastPage}</span>

  {
    page.url.next && (
      <div class="mb-6 transition-transform duration-500 hover:scale-110">
        <a
          href={page.url.next}
          class="px-6 py-3 font-medium rounded-lg shadow-md cursor-pointer text-white bg-slate-800"
        >
          Next
        </a>
      </div>
    )
  }
</div>
